body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    
}
.form{
    margin-right: 20px;
}
h1 {
    text-align: center;
}

label {
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
     margin-left: 10px;
}


button:hover {
    background-color: #4cae4c;
}
.anchor{
    font-size: larger;
    border-radius: 4px;
    position: absolute;
    left:600px;
    top: 545px;
    text-decoration: none;
    padding-left: 125px;
    padding-right: 120px;
    padding-top: 9px;
    padding-bottom: 8.5px;
    color: white;
  text-shadow: 2px 2px 4px rgb(11, 3, 3);

}

  